# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**:

* Popular languages in DS
* Commun used libraries
* DS tools

Some of the popular languages that Data Scientists use are:

1. R
2. Python
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Pandas
3. Seaborn

|Data Science Tools|
|------------------|
|Git|
|Docker|
|Github|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3 * 4) + 5
#This a simple arithmetic expression to mutiply then add integers

17

In [3]:
# This will convert 200 minutes to hours by diving by 60

min_to_sec = 200 * 60
print(min_to_sec)

12000

## Author
Christian Knausdorf